.owner-page-body {
  height: 100% ;
  margin-top: 0px !important;
}
.owner-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.review-section {
  height: 600px;
  border-radius: 6px;
  border: 2px solid var(--Gray-5, #e0e0e0);
  background: rgba(242, 242, 242, 0.46);
}
.data-section {
  
  border-radius: 6px;
  border: 2px solid var(--Gray-5, #e0e0e0);
  background: rgba(242, 242, 242, 0.46);
}
.tiles {
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  background: #f9f9f9;
  padding: 10px;
  margin: 20px;
  display: flex;
}
.overview {
  padding-left: 10px;
  font-weight: 700;
  margin-right: 20px;
  white-space: nowrap;
  overflow-wrap: normal;
}
.short-description-title {
  padding-left: 10px;
 font-weight: 700;
 width: 160px;
}
.short-description{
  margin-left: 14px;
  
}
.boarding-name-title {
  padding-left: 10px;
  font-weight: 700;
}
.boarding-name-description {
  padding-left: 5px;
}
.available-button {
  float: right;
  margin-left: auto;
}
.map-section{
  margin-left: auto;
  margin-right: 30px;
}
.dev-image{
  height: 190px;
  width: 150px;
  opacity: 0.1;
}
.dev-image-area{
  text-align: center;
  padding-top: 120px;
}
.dev-text{
  opacity: 0.3;
  font-size: 15px;
}
.welcome-message{
  text-align: center;
  padding-top: 5px;
  margin-top: 10px;
}
.edit-button{
  margin-left: 22px;
  padding-top: 10px;
  padding-bottom: 30px;
}